:root {
  --background-color: #ffe5e5;
  --color: #000000;
  --feedback-bg-color: #ffffff;
  --feedback-secondary-color: #ffacac;
  --feedback-primary-color: #53488d;
  --feedback-icon-color: #ffffff;
  --feedback-form-input: #f4f4f4;
  text-align: start;
}

body {
  text-align: left;
}

tr {
  border: 1px solid black;
  border-radius: 3px;
  margin: 2px;
}

button {
  font-size: 20px;
  @extend .center-content;
  padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;

  border-radius: 7px;
  border-bottom-left-radius: 0;

  background-color: var(--feedback-secondary-color);
  color: var(--feedback-primary-color);

  transition: all 0.3s;
}

button :hover {
  border-radius: 0px;
}
